html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #000;
    color: #fff;
}

body::after {
    content: "";
    display: block;
    height: 50px;
}

.container {
    max-width: 100% !important;
    padding: 5px;
}

h2 {
    margin: 1rem;
    font-size: 4rem;
    font-weight: bolder;
}

h2 .small-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffcd00;
}

.accordion-item{
    background-color: #000;
    color: #fff;
}

.accordion-header, .accordion-button {
    background-color: #000 !important;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 2rem;
    font-weight: bold;
}

.accordion-button {
    white-space: normal !important;
    padding: 15px !important;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

.accordion-button:active, .accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.accordion-button, .accordion-button:not(.collapsed) {
    border-bottom: none !important;
    box-shadow: none !important;
}

.pulsing-background {
  animation: glow-grow 3s ease infinite;
}

@keyframes glow-grow {
  0% {
    box-shadow: 0 0 2px #ffcd00;
  } 50% {
    box-shadow: 0 0 10px #ffcd00;
  } 100% {
    box-shadow: 0 0 2px #ffcd00;
  }  
}


body {
  background: black;
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.nav-tabs li {
    flex-grow: 1;
    text-align: center;
}
.nav-tabs li button {
    color: #fff;
    font-size: 1.25rem;
}

.nav-tabs li button:hover {
    color: #ffcd00 !important
}

.week-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 5px; */
}

.week-nav .nav-link {
    flex-grow: 1;
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    padding: 10px 15px;
    font-weight: bold; 
    background-color: #000; 
    color: #fff;
    border: 1px solid #ccc;
    /* margin: 5px; */
}

.week-nav .nav-link.active {
    background-color: #ffcd00;
    color: #000;
}

.week-nav .nav-link:hover {
    background-color: #ffcd00;
}

iframe {
    width: 100%;
    height: auto;
    min-height: 100vh;
    border: none;
}
