html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
}

body {
    background-color: #000;
    color: #fff;
}

body::after {
    content: "";
    display: block;
    height: 50px;
}

.container {
    max-width: 100% !important;
    padding: 5px;
}

.scale-test {
    /* transform: scale(0.8); */
}

h2 {
    margin: 1rem;
    font-size: 4rem;
    font-weight: bolder;
}

h2 .small-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffcd00;
}

.accordion-item{
    background-color: #000;
    color: #fff;
}

.accordion-header, .accordion-button {
    background-color: #000 !important;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 2rem;
    font-weight: bold;
}

.accordion-button {
    white-space: normal !important;
    padding: 15px !important;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

.accordion-button:active, .accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.accordion-button, .accordion-button:not(.collapsed) {
    border-bottom: none !important;
    box-shadow: none !important;
}

.pulsing-background {
  animation: glow-grow 3s ease infinite;
}

@keyframes glow-grow {
  0% {
    box-shadow: 0 0 2px #ffcd00;
  } 50% {
    box-shadow: 0 0 20px #ffcd00;
  } 100% {
    box-shadow: 0 0 2px #ffcd00;
  }  
}


body {
  background: black;
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.nav-tabs li {
    flex-grow: 1;
    text-align: center;
}
.nav-tabs li button {
    color: #fff;
    font-size: 1.25rem;
}

.nav-tabs li button:hover {
    color: #ffcd00 !important
}

.week-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 5px; */
}

.week-nav .nav-link {
    flex-grow: 1;
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    padding: 10px 15px;
    font-weight: bold; 
    background-color: #000; 
    color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
}

.week-nav .nav-link.active {
    background-color: #ffcd00;
    color: #000;
}

.week-nav .nav-link:hover {
    background-color: #ffcd00;
}

iframe {
    width: 100%;
    height: auto;
    min-height: 100vh;
    border: none;
}

table {
    font-size: 1.15rem;
}

table.table thead tr.table-header-gold th {
    background-color: #ffcd00;
    color: #000;
}

.gold-standings {
    background-color: #ffcd00;
}

.silver-standings {
    background-color: #c0c0c0;
}

.bronze-standings {
    background-color: #c96d22;
}

.gold-standings, .silver-standings, .bronze-standings {
    font-weight: bolder;
    padding: 20px 5px;
    border-radius: 5px;
    margin: 10px;
}

.remaining-team-container {
    padding: 15px 5px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ffcd00;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remaining-team-rank {
    color: #ffcd00;
    margin: 0 20px;
    justify-self: flex-start;
}

.remaining-team-name {
    font-size: 1.25rem;
    font-weight: bolder;
    margin-right: 10px;
}

.remaining-team-points {
    justify-self: flex-end;
    margin-right: 20px;
}

.match-container {
    padding: 20px;
    border: 2px solid #ffcd00;
    border-radius: 5px;
    margin-bottom: -10px;
    transform: scale(0.8);
}

.schedule-round, .schedule-time {
    margin: 10px 10px 40px 10px;
    padding: 15px 5px;
}

.schedule-team, .schedule-vs, .schedule-score {
    margin: 10px;
    text-align: center;
    padding: 10px 0;
}

.schedule-score, .schedule-time {
    border: 1px solid #ffffff;
    border-radius: 1px;
    text-align: center;
}

.schedule-score{
    width: 50%;
}

.schedule-time {
    border-radius: 5px;
    background-color: #ffcd00;
    color: #000;
}